/* Basic reset and styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

@keyframes growShrink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .active {
    animation: growShrink 1s infinite ease-in-out;
  }

  @keyframes rotateExit {
    0% {
      transform: scale(1) rotate(0deg) translateY(0);
      opacity: 1;
    }
    100% {
      transform: scale(0.5) rotate(720deg) translateY(200vh);
      opacity: 0;
    }
  }
  
  .exit {
    animation: rotateExit 1s forwards ease-in-out;
    pointer-events: none; /* Prevent interaction during exit */
  }

/* Container styling */
.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 2px ;
    background: linear-gradient(to bottom, #80c7f0, #ffffff, #ffffff, #ffffff, #ffffff);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.trash-container {
    background-image: url("assets/images/pexels-pixabay-220182.jpg");
}

.bottle-container {
    width: 100%;
}

.wall-container {
    width: 100%;
    background-color: darkgray;
    
}

.wall-image {
    width: 100%;
    margin: 0%;
    padding-bottom: 0%;
}

.bottle {
    width: 60px;
    height: 200px;
    margin: 0.5rem;
    margin-bottom: -0.6rem;
}

.bin {
    width: 175px;
    height: 220px;
    margin-bottom: -0.6rem;
}






